@import "directives/tile/tile.less";

body {
  padding: 0px;
  margin: 0px;
  transform-origin: 0px 0px;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@rasterSize: 60px;
@borderColor: rgb(129, 130, 184);

.parentContainer {
  margin: 0 auto;
  width: 750px;
  touch-action: manipulation;
}

.rasterContainer {
  display: inline-block;
  overflow: hidden;
  border-bottom: 1px solid @borderColor;
  border-right: 1px solid @borderColor;
}

.column {
  width: @rasterSize;
  height: @rasterSize;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.row {
  cursor: pointer;
  height: @rasterSize;
}

.legend {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  height: @rasterSize * 6 + 1;
  border: 1px solid @borderColor;
  box-sizing: border-box
}

.tileInput {
  margin: 10px;
  margin-top: 20px;
  height: 50px;
  font-size: 35px;
  text-align: center;
  font-weight: bolder;
  width: calc(100% - 15px);
}

.state {
  width: @rasterSize * 9 + 10;
  height: 200px;
}

.previewTile {
  .tile {
    transform: scale(1);
  }

  cursor: pointer;
  margin: 0px auto;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  display: block;
  transform: scale(1);
}

.button {
  width: 50px;
  height: 50px;
  background-color: #ffffff;

  &:hover {
    background-color: #d9d9d9;
  }

  border: solid 1px grey;
  display: block;
  border-radius: 25px;
}

.addTile {
  margin: 0 auto;
  margin-top: 20px;
}

.activeTile {
  background-color: rgb(129, 255, 119);
}

.scenario {
  width: 110px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.soundTrack {
  width: 160px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  float: right;

}
