<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zombie 15 map generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="app.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
</head>
<body ng-cloak ng-app="myApp">
<div ng-controller="MainCtrl">
    <div class="rasterContainer">
        <div class="row" ng-repeat="row in rows track by $index">
            <div class="column" ng-repeat="rasterTile in row track by $index">
                <tile ng-click="registerTile(rasterTile)" class="rasterTile" tile="rasterTile.tile"
                      active-tile='activeTile'></tile>
            </div>
        </div>
    </div>
    <div class="legend">
        <input ng-change="updatePreview()"
               ng-model="activeTileId"
               maxlength="3" type="text" class="tileInput"/>
        <tile tile="activeTile" class="previewTile"></tile>
        <select class="scenario" ng-change="loadScenario()"
                place
                ng-model="selectedScenario"
                ng-options="scenario as 'Scenario ' + scenario.id for scenario in scenarios">
        </select>
    </div>
    <br>
    <br>
    <textarea ng-model="visualStateText" class="state"></textarea>

    <div>
        <button class="button" style="float:left;" ng-click="reload()"> R</button>
        <button class="button" style="float:left;" ng-click="tiles.pop()"> P</button>
    </div>
</div>
<script src="app.js"></script>
<script src="controllers/MainCtrl.js"></script>
<script src="directives/tile/tile.js"></script>
<script src="services/tiles.js"></script>
<script src="services/scenarios.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
</body>
</html>
